:root {
    /* Colors */
    --dark-bg: #10121A;
    --light-bg: #FFFFFA;
    --green: #00ffa3;
    --cyan: #03E1FF;
    --blue: #5189ee;
    --mauve: #965fff;
    --purple: #DC1FFF;

    /* Fonts,Typographies and Spaces*/
    --satoshi-font:'Satoshi', sans-serif;
    --title-font-size: 10rem;
    --subtitle-font-size: 7.5rem;
    --heading-font-size: 2.5rem;
    --text-font-size: 2rem;
    --navbar-font-size: 1.5rem;
    --legend-font-size: 1.5rem;

    /* Font weight */
    --bold: 700;
    --semi-bold: 500;
    --medium: 400;
    --regular: 300;
    --light: 200;

    /* Margin and padding */
    --menu-space: 4em;

    /* Z-index */
    --z-fixed: 100;
    --z-front: 10;
    --z-behind: -10;
}

/* Resetting CSS */
* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

html {
    /* I use 62.5% to set 1rem to 10px */
    font-size: 62.5%;
    font-family: var(--body-font);
}

body {
    background-color: var(--dark-bg);
    color: var(--light-bg);
    font-family: var(--satoshi-font);
    overflow-x: hidden;
}

/* All Title and Content */
#mission,
#roadmap,
#nextsteps,
#reward,
#team,
#competitions {
    width: 90vw;
    margin: 0 auto;
}

/* Title header */
h1 {
    font-family: var(--satoshi-font);
    font-size: clamp(5rem, 5vw + 1rem, var(--title-font-size));
    font-weight: var(--bold);
    z-index: var(--z-front);
}

h2 {
    text-align: center;
    font-weight: var(--medium);
    font-size: clamp(2.75rem, 10vw + 1rem, 8rem);
    margin-top: 2em;
}

h3 {
    text-transform: uppercase;
}

h4 {
    text-align: center;
    font-size: var(--text-font-size);
}

p {
    font-size: var(--text-font-size);
    font-weight: var(--light);
}

a {
    text-decoration: none;
    color: var(--light-bg) !important;
}

.salvadoge {
    width: clamp(300px,45vw,1200px);
    height: auto;
}

/* Navbar */
nav {
    position: absolute;
    top: var(--menu-space);
    width: 90vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav li {
    display: inline;
    list-style: none;
    font-family: var(--satoshi-font);
    font-size: var(--navbar-font-size);
    font-weight: var(--regular);
    padding: 0 0.5em;
}

header {
    height: 100vh;
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-around;
}

.introduction {
    width: 35vw;
    height: 100vh;
    display: flex;
    flex-flow: wrap;
    align-content: center;
}

.introduction p {
    line-height: 2em;
    margin: 3em 0;
}

button {
    /* display the button content correctly */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    font-size: var(--text-font-size);
    font-family: var(--chillax-font);
    font-weight: var(--semi-bold);
    color: var(--dark-bg);
    background-color: var(--light-bg); 
    padding: 0.5em 1.125em;
    border-radius: 100vw;
    cursor: pointer;
    transition: 0.5s;
}

button:hover {
    background: linear-gradient(45deg, var(--purple) 30%, var(--blue) 50%, var(--green) 90%);
}

/* Important text */
p span {
    font-weight: var(--bold);
    font-size: calc(var(--text-font-size) + 0.05rem);
}

span:not(p span) {
    width: 90vw;
    height: 20px;
    background: -webkit-linear-gradient(45deg, var(--purple) 30%, var(--blue) 50%, var(--green) 90%);
}

/* --- About us and Contact--- */

#about_us,
#contact {
    width: 80vw;
    text-align: left;
    margin: 0 auto;
}

#about_us h2,
#contact h2 {
    text-align: left;
    padding-bottom: 0.5em;
}

#about_us p,
#contact p {
    line-height: 2em;
}

#contact a {
    text-decoration: underline;
}

/* --- Mission SECTION--- */
.wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 7.5em;
}

.mission-text {
    /* Minimum of 280px otherwise 35vw of the screen */
    width: max(280px, 35vw);
    text-align: left;
    font-weight: var(--regular);
}

#mission p {
    line-height: 1.5em;
    margin-top: 2em;
}

/* --- Competitions and Rewards --- */
.categories {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.competition {
    text-align: center;
    width: max(300px, 30vw);
    margin: 5em auto;
}

.competition img {
    border-radius: 50%;
}

.competition h3 {
    padding: 1.5em 0;
}

#competitions ul {
    margin: 7.5em auto;
    list-style-type: "\01F3C6";
    width: 80vw;
}

#competitions li {
    font-size: var(--text-font-size);
    line-height: 2.5em;
    padding: 0 1em;
}

/* --- Meet the Team SECTION --- */
.team {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 90vw;
    padding-bottom: 5em;
    margin: 0 auto;
    /* border-bottom: solid var(--light-bg) 1px; */
}

.member {
    text-align: center;
    width: 280px;
}

.member img {
    padding: 5em 0;
}

.member h3 {
    font-size: var(--text-font-size);
    padding-bottom: 0.75em;
}

.social {
    display: inline;
}

#nextstep {
    height: 100vh;
}

#nextstep p {
    width: 90vw;
    margin: 0 auto;
    margin-top: 2em;
}

aside > p {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding: 2.5em 0;
}


/* --- Roadmap --- */
#roadmap p {
    width: 80vw;
    margin: 0 auto;
    font-size: var(--heading-font-size);
    padding: 1em;
}

.roadmap {
    width: 100vw;
    height: auto;
    margin-top: 300px;
}

#prizes {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 20em;
}



h3 {
    font-size: 2.5rem;
}

/* --- Information --- */
.container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 70vh;
}

.pie {
    width: 400px;
    height: 400px;
    background: conic-gradient( var(--green) 0% 25%, var(--blue) 25% 50%, var(--purple) 50% 100%);
    border-radius: 50%;
}

.information p {
    width: max(300px, 40vw);
    font-size: var(--legend-font-size);
    padding: 1.5em;
}

.mobile {
    display: none;
}

/* .line {
    width: 500px;
    height: 40px;
} */

/* --- Next Steps --- */
.columns {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.block {
    width: max(280px, 25vw);
    min-width: 180px;
    margin: 2em;
}

.block h3 {
    font-weight: var(--semi-bold);
    margin: 0.5em 0;
    width: fit-content;
}

.block p {
    padding-top: 1em;
}

.green {
    color: var(--green);
    border-bottom: solid var(--green) 3px;
}

.cyan {
    color: var(--cyan);
    border-bottom: solid var(--cyan) 3px;
}

.blue {
    color: var(--blue);
    border-bottom: solid var(--blue) 3px;
}

.mauve {
    color: var(--mauve);
    border-bottom: solid var(--mauve) 3px;
}

.purple {
    color: var(--purple);
    border-bottom: solid var(--purple) 3px;
}

/* --- Contact --- */


/* --- Footer --- */
footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 7.5em auto;
}
.social li {
    display: inline;
    list-style: none;
    font-family: var(--chillax-font);
    font-size: var(--text-font-size);
    font-weight: var(--semi-bold);
    padding: 0 0.5em;
    align-items: center;
}

/* --- Media Queries --- */
@media (max-width: 720px) {
    .mobile {
        display: inline;
    }

    header {
        align-content: center;
    }

    .roadmap,
    .desktop {
        display: none;
    }

    .roadmap-line {
        border-left: dashed var(--purple) 10px;
        width: 80vw;
        margin: 0 auto;
        padding: 0.5em 1.5em;
    }

    .roadmap-line p {
        margin: 1.5em auto;
    }

    .pie {
        width: 280px;
        height: 280px;
    }
}